[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Multiverse City
Comment=Design your city, be patient and the city will grow
Comment[es]=Diseña tu ciudad, se paciente y la ciudad crecerá
Categories=Game;StrategyGame;
MimeType=application/x-multiverse-city-save
Exec=MultiverseCity %f
Icon=multiverse-city
Terminal=false

X-Ayatana-Desktop-Shortcuts=Actualizar;Bugs;DivCityServer;Share;Version;

#[Actualizar Shortcut Group]
#Name=Actualizar
#Exec=update-manager
#OnlyShowIn=Unity

[Bugs Shortcut Group]
Name=Report a bug
Exec=xdg-open http://bugs.launchpad.net/multiverse-city
OnlyShowIn=Unity

#[DivCityServer Shortcut Group]
#Name=DivCity Server
#Exec=zenity --error
#OnlyShowIn=Unity

[Share Shortcut Group]
Name=Share your citys
Exec=xdg-open http://answers.launchpad.net/multiverse-city
OnlyShowIn=Unity

[Version Shortcut Group]
Name=Version information
Exec=notify-send -i multiverse-city DivCity Version "Linux 1.0 with wxWidgets 2.8 in Ubuntu"
OnlyShowIn=Unity
