Package: multiverse-city
Version: 1.0.0.4
Architecture: i386
Maintainer: Adrian Arroyo Calle (Divel) <adrian.arroyocalle@gmail.com>
Installed-Size: 12024
Depends: libc6 (>= 2.11), libcairo2 (>= 1.6.0), libgcc1 (>= 1:4.1.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.24.0), libgtk2.0-0 (>= 2.24.0), libpango1.0-0 (>= 1.18.0), libpng12-0 (>= 1.2.13-4), libsm6, libstdc++6 (>= 4.4.0), libvlc5 (>= 1.1.0), libwxbase2.8-0 (>= 2.8.12.1), libwxgtk2.8-0 (>= 2.8.12.1), libx11-6, zlib1g (>= 1:1.1.4)
Section: games
Priority: optional
Homepage: http://sites.google.com/site/divelmedia
Description: Multiverse City
 Design your city, be patient and the city will grow.
