#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001
AZPDIR = ${CURDIR}/debian/azpazeta/usr/src/
CFLAGS = `wx-config --cppflags` `pkg-config --cflags glib-2.0 gtk+-2.0`
PRE = -DIDIOMA=ES -DLINUX
OBJ = VarGlobal.o Inicio.o save.o tren.o dkey.o police.o hiper.o golf.o dialogbox.o mercado.o
EXIT = Azpazeta
LIBFLAGS = `wx-config --libs` `pkg-config --libs glib-2.0 gtk+-2.0` -L. -lnotify




# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp
build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	touch build-stamp
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Create directories and copy files
	# Build the sctructure
	#sudo apt-add-repository ppa:fransschreuder1/usbpicprog-stable -y
	mkdir -p ${CURDIR}/debian/multiverse-city/usr/games/multiverse-city
	mkdir -p ${CURDIR}/debian/multiverse-city/usr/share/multiverse-city/media
	mkdir -p ${CURDIR}/debian/multiverse-city/usr/share/applications
	mkdir -p ${CURDIR}/debian/multiverse-city/usr/share/pixmaps
	mkdir -p $(AZPDIR)
	
	cp -rv usr ${CURDIR}/debian/multiverse-city/
	rm ${CURDIR}/debian/multiverse-city/usr/games/MultiverseCity
	g++ -fPIC -c -o libmctcube.o libmctcube/main.cpp `wx-config --cppflags`	
	g++ -fPIC -c -o concejal.o libmctcube/concejal.cpp `wx-config --cppflags`
	g++ -shared -fPIC -o ${CURDIR}/debian/multiverse-city/usr/lib/libmctcube.so libmctcube.o concejal.o
	cp ${CURDIR}/debian/multiverse-city/usr/lib/libmctcube.so libmctcube.so
	g++ -fPIC -c -o libdivcore.o divcore/main.cpp `wx-config --cppflags`	
	g++ -shared -fPIC -o ${CURDIR}/debian/multiverse-city/usr/lib/libdivcore.so libdivcore.o -lvlc
	cp ${CURDIR}/debian/multiverse-city/usr/lib/libdivcore.so libdivcore.so
	g++ -c MCT/main.cpp -o main.o `wx-config --cppflags`
	g++ -c MCT/MCTFrame.cpp -o mct.o `wx-config --cppflags`
	g++ -o ${CURDIR}/debian/multiverse-city/usr/games/MultiverseCity main.o mct.o `wx-config --libs` -L. -lmctcube -lpthread -lvlc  -O3 -DVLC -DPTHREAD -ldivcore
	
		
	# Structure and source files
	#mkdir -p ${CURDIR}/debian/agendacorreosdivelso/usr/share/agendacorreosdivelso
	#######################################################
	#cp *.py ${CURDIR}/debian/agendacorreosdivelso/usr/share/agendacorreosdivelso/
	# End create directories and copy files
	# Create languages directories
	# End create languages directories
	# Compile languages
	# End comile languages
	# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.
	# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	# dh_install
	# dh_installmenu
	# dh_installdebconf
	# dh_installlogrotate
	# dh_installemacsen
	# dh_installpam
	 dh_installmime
	# dh_python
	# dh_installinit
	# dh_installcron
	# dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	# dh_perl
	# dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
